<table class="inicio">
  <div id="inicial">
    <li class="nav-item">
      <a class="nav-link" class="cybr-btn" text
        >GAME COACHING<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">GAME COACHING</span>
      </a>
    </li>

    <p class="sub">¿Quienes somos?</p>
    <p class="informacion">
      Somos una par de programadores con gusto por los videojuegos interesados
      en que los jugadores de la actualidad aprendan mas sobre videojuegos de PC
    </p>
  </div>
</table>