<div id="divJuegos">

<table class="juego" title="JUEGOS">

  <tr>
    <th>
      <div class="container">
          <h2>Precio</h2>
          <p>Horas: <input type="text" name="horas"/></p>
          <p>Cantidad: <input type="text" name="horas" disabled/></p>
          <google-pay-button
              environment="TEST"
              buttonType="buy"
              buttonColor="black"
              [paymentRequest]="paymentRequest"
              (loadpaymentdata)="onLoadPaymentData($event)"
              (error)="onError($event)"
              [paymentAuthorizedCallback]="onPaymentDataAuthorized"
              ></google-pay-button>
      </div>
    </th>
  </tr>
</table>
</div>
