<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="menu.component.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a mat-button [routerLink]="'/inicio'"class="nav-link" class="cybr-btn" href="#" >Inicio<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Inicio</span>
      </a>
    </li>
    <li class="nav-item">
      <a mat-button [routerLink]="'/juegos'" class="cybr-btn"  href="#" >Coaches<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Coaches</span> </a>
    </li>

    <li class="nav-item">
      <a mat-button [routerLink]="'/vivo'" class="cybr-btn"  href="#" >Videos<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Videos</span> </a>
    </li>

  <li class="nav-item">
    <a mat-button [routerLink]="'/formulario'" class="cybr-btn"  href="#" >Registrate<span aria-hidden></span>
      <span aria-hidden class="cybr-btn__glitch">Registrate</span> </a>
  </li>

  </ul>
</nav>


<div class="container-fluid"></div>
