<div id="divJuegos">

  <table class="juego" title="JUEGOS">
    <p class= "coach">Coaches</p>
    <tr>
      <th>
        <div class="container">
          <div class="imag">
            <img src="C:\Users\estef\Desktop\perfil" />
          </div>
          <div class="info">
            <p>Coach 1</p>
            <h1>Nombre</h1>
            <h2>Precio</h2>
            <p class="desc">
              Descripcion y juegos (mucho texto)" "" "" "" "" "" ""
            </p>
            <div mat-button [routerLink]="'/contratar'"  class="btn-abrir-popup"><button>Contratar</button></div>
          </div>
        </div>
      </th>
      <th>
        <div class="container">
          <div class="imag">
            <img src="C:\Users\estef\Desktop\perfil" />
          </div>
          <div class="info">
            <p>Coach 2</p>
            <h1>Nombre</h1>
            <h2>Precio</h2>
            <p class="desc">
              Descripcion y juegos (mucho texto)" "" "" "" "" "" ""
            </p>
            <div mat-button [routerLink]="'/contratar'" class="btn-abrir-popup"><button>Contratar</button></div>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="container">
          <div class="imag">
            <img src="C:\Users\estef\Desktop\perfil" />
          </div>
          <div class="info">
            <p>Coach 3</p>
            <h1>Nombre</h1>
            <h2>Precio</h2>
            <p class="desc">
              Descripcion y juegos (mucho texto)" "" "" "" "" "" ""
            </p>
            <div mat-button [routerLink]="'/contratar'"  class="btn-abrir-popup"><button>Contratar</button></div>
          </div>
        </div>
      </th>
      <th>
        <div class="container">
          <div class="imag">
            <img src="C:\Users\estef\Desktop\perfil" />
          </div>
          <div class="info">
            <p>Coach 4</p>
            <h1>Nombre</h1>
            <h2>Precio</h2>
            <p class="desc">
              Descripcion y juegos (mucho texto)" "" "" "" "" "" ""
            </p>
            <div mat-button [routerLink]="'/contratar'"  class="btn-abrir-popup"><button>Contratar</button></div>
          </div>
        </div>
      </th>
    </tr>
  </table>
</div>
