<button class="crear" [routerLink]="'/crear'">Agregar Coach</button>
<div id="divJuegos">
  <table class="juego" title="JUEGOS">
    <p class= "coach">Coaches</p>
    <tr *ngFor="let coach of coachs">
      <th>
        <div class="container">
          <div class="imag">
            <img src="{{ coach.foto }}" />
            <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editarCoach/', coach.id]"></i>
            <i class="fas fa-trash-alt fa-lg text-danger" (click)="eliminarCoach(coach.id)"></i>
          </div>
          <div class="info">
            <h1>{{ coach.nombre }}</h1>
            <h2>{{ coach.precio | currency }}</h2>
            <p class="desc">
              {{ coach.descripcion }}
            </p>
            <google-pay-button
            environment="TEST"
            buttonType="buy"
            buttonColor="black"
            (click) = "crearPaymentData(coach.precio.toString())"
            [paymentRequest]="paymentRequest"
            (loadpaymentdata)="onLoadPaymentData($event)"
            (error)="onError($event)"
            [paymentAuthorizedCallback]="onPaymentDataAuthorized"
            ></google-pay-button>
          </div>
        </div>
      </th>
    </tr>
  </table>
</div>
