<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="myId">
  <section class="register-account">
    <div class="signform">
      <h1>Inicia sesión con Facebook:</h1>
          <button class="btn btn-primary btn-lg btn-block" (click)="loginWithFacebook()">Login con Facebook</button>
      <h2>Estas conectado desde: </h2><span class="flag-icon flag-icon-{{getCountry()}}"></span>
    </div>
  </section>
</body>
